<div class="wrapper" fxLayout="column" fxLayoutAlign="center center">
  <h1 [ngClass.xs]="'text-xs'" [ngClass.sm]="'text-sm'">Shorturl</h1>
  <form class="form" [formGroup]="form" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onSubmit()">
    <div class="inputs" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="2rem">
      <mat-form-field appearance="outline" fxFlex="60" fxFlexAlign="stretch" required floatLabel="always">
        <mat-label>URL</mat-label>
        <input type="url" matInput required formControlName="url" placeholder="https://shorturl.jurivana.de" />
        <mat-error>URL wird benötigt.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" fxFlexAlign="stretch">
        <mat-label>Pfad</mat-label>
        <span matPrefix>/</span>
        <input type="url" matInput formControlName="path" placeholder="(optional)" />
        <mat-error>Pfad ist schon vergeben.</mat-error>
      </mat-form-field>
    </div>
    <button type="submit" mat-stroked-button color="primary" class="button" [disabled]="!form.valid">Kürzen</button>
  </form>
  <div [style.visibility]="shortUrl ? 'visible' : 'hidden'">
    <button type="button" mat-flat-button color="primary" class="copy" [cdkCopyToClipboard]="shortUrl">
      {{ shortUrl }} <mat-icon class="copy-icon">content_copy</mat-icon>
    </button>
  </div>
</div>
