// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$accent: (
  50: #edf3f8,
  100: #d6d7dc,
  200: #bbbcc1,
  300: #a0a1a9,
  400: #848690,
  500: #6b6d77,
  600: #53555d,
  700: #3b3c43,
  800: #232429,
  900: #0c0c13,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);
$primary: (
  50: #ffe3f2,
  100: #ffb4d2,
  200: #fb84b2,
  300: #f85393,
  400: #f52475,
  500: #db0a5b,
  600: #ac0447,
  700: #7c0133,
  800: #4c001e,
  900: #1f000b,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);
$URLShortener-Frontend-primary: mat.define-palette($primary, 500, 400, 700);
$URLShortener-Frontend-accent: mat.define-palette($accent, 800, 500, 900);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$URLShortener-Frontend-theme: mat.define-dark-theme(
  (
    color: (
      primary: $URLShortener-Frontend-primary,
      accent: $URLShortener-Frontend-accent,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($URLShortener-Frontend-theme);

:root {
  --background: #24252a;
  --primary: #db0a5b;
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Ubuntu, Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background);
  color: #eeeeee;
  font-size: 1.6rem;
}
